In [2]:
import os
import numpy as np
import pandas as pd
import swifter
import utils
import catboost
from tqdm import tqdm_notebook as tqdm

EMPTY_FILLER = 10**9

In [4]:
# test = pd.read_csv("../additional_feats_for_test_public_v2.csv")

In [219]:
priv_test = pd.read_csv("../additional_feats_for_test_private_v2_track_1.csv")

In [213]:
model_names = ['track_1_model_cat_7depth_550_iter_feats4_7fold%d' % idx for idx in range(0, 7)]
models = [catboost.CatBoostClassifier().load_model("../models/{}.cbm".format(model_name)) for model_name in model_names]

In [227]:
predictions = sum([model.predict(priv_test.loc[:, model.feature_names_].values, 
                                 prediction_type="RawFormulaVal").astype(np.float32) for model in models]) / len(models)
prediction_pd = pd.DataFrame(data={"prediction": predictions}, index=test.index)
prediction_pd.prediction.mean()

1.0795183

In [137]:
(prediction_pd ).head()

   prediction
0    3.408661
1    1.212989
2    3.596351
3    1.970372
4    2.018488

In [228]:
# subm = pd.read_csv("../data/sample_submission.csv")

In [203]:
# subm.head()

   id  prediction
0   0    0.703662
1   1    0.598623
2   2    0.514827
3   3    0.387769
4   4    0.667190

In [9]:
# subm.shape

(726095, 2)

In [223]:
prediction_pd['id'] = prediction_pd.index

In [224]:
prediction_pd[['id', 'prediction']].head()

   id  prediction
0   0    0.918030
1   1    1.592685
2   2   -0.317233
3   3    1.727078
4   4    0.256099

In [225]:
prediction_pd[['id', 'prediction']].to_csv("../private_pred_ans_7folds_550i_7d_pos_w_only_feats4.csv".format(model_names[-1]), index=False)

In [229]:
# subm['prediction'] = prediction_pd.prediction

In [231]:
# subm.to_csv("../data/{}.csv".format(model_names[-1]), index=False)